*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}
.header{
    background: rgb(255,255,255);
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 70px;
    justify-content: space-between;
    width: 100%;
}
.header__mark{
    /* outline: 1px solid black; */
    align-items: center;
    display: flex;
    font-size: 30px;
    height: 70px;
    justify-content: space-around;
    list-style: none;
    margin-left: 15px;
    width: 120px;
    
}
.header__mark li img{
    height: 40px;
    margin-top: 8px;
}
.header__menu{
    /* outline: 1px solid red; */
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 240px;
}
.header__menu-item{
    cursor: pointer;
    width: 80px;
    list-style: none;
    line-height: 80px;
    text-align: center;
    /* outline: 1px solid blue; */
}
.header__menu-item--options{
    background: white;
    display: none;
    /* outline: 2px solid green; */
    font-size: 17px;
    height: 90px;
    list-style: none;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 90px;
}
.header__menu-item:hover .header__menu-item--options, .header__menu-item--options:hover{
    display: block;
    box-shadow: 0px 0px 4px 1px rgb(236, 236, 236);
}
.header__menu-item--options li{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 48px;
    /* outline: 2px solid pink; */
}
.header__menu-item--options li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.header__menu-item--options li a:hover{
    text-decoration: underline;
}
.main__img{
    /* outline: 1px solid red; */
    height: 480px;
    width: 100%;
}
.main__img img{
    height: 480px;
    object-fit: cover;
    width: 100%;
}
.main__text{
    flex-direction: column;
    height: 100px;
    margin-top: 20px;
    /* outline: 1px solid rgb(0, 185, 139); */
    width: 100%;
}
.main__text-principal{
    /* outline: 1px solid orange; */
    display: flex;
    font-size: 28px;
    height: 100px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

footer{
    /* outline: 1px solid rgb(134, 9, 9); */
    align-items: flex-end;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: center;

}
.footer__ancla{
    /* outline: 2px solid blue; */
    color: black;
    font-size: 14px;
    padding-left: 20px;
    text-decoration: none;
}